{% extends "motion/base.html" %}
{% load i18n %}

{% block page_id %}user-following{% endblock %}
{% block page_layout %}layout-wm{% endblock %}

{% block html_head %}
{{ block.super }}
<script type="text/javascript">
/* <![CDATA[ */
    var total_events = {{ page_obj.object_list.total_results }};
    var event_offset = {{ next_offset|default:"0" }}{# to be restored to: {{ page_obj.object_list|length }} + 1 #};
/* ]]> */
</script>
{% endblock %}

{% block content_body %}

<div class="actions">
    <ul class="hfeed" id="events-content">
    {% for event in page_obj.object_list %}{% with event.object as entry %}
        {% include "motion/assets/asset.html" %}
    {% endwith %}{% endfor %}
    </ul>
</div><!-- end .actions -->

<div class="controls">
    <button id="more-events" class="button-more" style="display:none;">{% trans "More" %}</button>
</div>

{% endblock %}
