{% load typepad_filters %}
{% load generic_filters %}
{% load withblock %}

{% ifequal view "permalink" %}
    {% if entry.source %}
        {{ entry.content|sanitizetags }}
    {% else %}
        {{ entry.content|urlize|linebreaks }}
    {% endif %}
{% else %}
    {% if entry.source %}
        {% withblock %}{% autoescape off %}{{ entry.content|striptags }}{% endautoescape %}{% as content %}
        {{ content|truncatewords:settings.paragraph_wordcount }}
        {{ entry|morelink:settings.paragraph_wordcount }}
        {% endwithblock %}
    {% else %}
        {{ entry.content|urlize|linebreaks|truncatewords_html:settings.paragraph_wordcount }}
        {{ entry|morelink:settings.paragraph_wordcount }}
    {% endif %}
{% endifequal %}
