{% load date_filters %}
{% load i18n %}

<div class="asset-meta icon-{{ entry.type_id }}">
    {% spaceless %}
    <a href="{{ entry.get_absolute_url }}#comments" class="comment-count">
        {% blocktrans count entry.comment_count as count %}
            {{ count }} <span>Comment</span>
        {% plural %}
            {{ count }} <span>Comments</span>
        {% endblocktrans %}
    </a>
    {% endspaceless %}
    <span class="separator">|</span>
    <span class="{% if settings.allow_rating %}favorite-action {% endif %}favorite-count{% if entry.links.favorites.by_user %} scored{% endif %}" id="favorite-{{ entry.url_id }}">{% if entry.favorite_count %}{{ entry.favorite_count }}{% else %}&nbsp;{% endif %}</span>
    <span class="separator">|</span>
    <span class="byline">
    {% block byline %}
        {% blocktrans with entry.author.get_absolute_url as url and entry.author.display_name as name %}
            posted by <span class="vcard author"><a href="{{ url }}">{{ name }}</a></span>
        {% endblocktrans %}
        <span class="date">
            <abbr class="published" title="{{ entry.published|date_microformat }}">
                {% spaceless %}
                <a href="{{ entry.get_absolute_url }}">
                {% if entry.published|is_relative %}
                    {{ timestamp }}
                {% else %}
                {% blocktrans with entry.published|pithy_timesince as timestamp %}
                    on {{ timestamp }}
                {% endblocktrans %}
                {% endif %}
                </a>
                {% endspaceless %}
            </abbr>
        </span>
    {% endblock %}
    </span>
</div>
