{# base template for entry content #}
{% load generic_filters %}
{% load typepad_filters %}

{% block title %}
    {% if entry.title %}{% spaceless %}
        {% if entry.source %}
            <h2><a href="{{ entry.get_absolute_url }}">{% autoescape off %}{{ entry.title|striptags }}{% endautoescape %}</a></h2>
        {% else %}
            {% if settings.use_titles %}
            <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
            {% endif %}
        {% endif %}
    {% endspaceless %}{% endif %}
{% endblock %}

{% block media %}{% endblock %}
{% block activity %}{% endblock %}

{% block content %}
{% if entry.content %}
    {% include "motion/assets/bits/content.html" %}
{% endif %}
{% endblock %}
