{% load generic_filters %}
{% load withblock %}

<!-- Entry -->
<li id="{{ entry.url_id }}" class="asset {% if event %}action-asset{% endif %} hentry {{ entry.type_id }} {% if entry.author.is_superuser %}admin{% endif %} {% if not entry.is_local %}external{% endif %}">
    {% ifequal view "permalink" %}
        {% include "assets/bits/delete.html" %}
    {% endifequal %}

    {% if event and event.is_added_favorite %}
        <a href="{{ entry.get_absolute_url }}"><div class="icon icon-favorite"></div></a>
    {% else %}
        <a href="{{ entry.get_absolute_url }}"><div class="icon icon-{{ entry.type_id }}"></div></a>
    {% endif %}
    {% with entry.author as user %}
        {% include "assets/bits/userpic.html" %}
    {% endwith %}
    <div class="asset-content entry-content">
        <div class="asset-body">
        {% if event and event.is_added_favorite %}
            {% include "assets/body/favorite.html" %}
        {% else %}
            {# Asset body is determined by the type of asset #}
            {% withblock %}assets/body/{{ entry.type_id }}.html{% as template_name %}
                {% include template_name %}
            {% endwithblock %}
        {% endif %}
        </div>
    </div>
    {% if event %}
        {% if event.is_new_asset and not entry.is_comment %}
            {% include "assets/bits/footer.html" %}
        {% endif %}
    {% else %}
        {% if not entry.is_comment %}
            {% include "assets/bits/footer.html" %}
        {% endif %}
    {% endif %}
</li>
