{# base template for entry content #}
{% load generic_filters %}
{% load typepad_filters %}

{% if settings.use_title %}
    {% block title %}{% if entry.title %}<h2><a href="{{ entry.get_absolute_url }}">{% spaceless %}
        {% if entry.source %}
            {% autoescape off %}{{ entry.title|striptags }}{% endautoescape %}
        {% else %}
            {{ entry.title }}
        {% endif %}
    {% endspaceless %}</a></h2>{% endif %}{% endblock %}
{% endif %}

{% block media %}{% endblock %}
{% block activity %}{% endblock %}

{% block content %}
{% if entry.content %}
    {% include "assets/bits/content.html" %}
{% endif %}
{% endblock %}
