{# base template for entry content #}
{% load generic_filters %}
{% load typepad_filters %}

{% block title %}{% if entry.title %}<h2><a href="{{ entry.get_absolute_url }}">{% spaceless %}
    {% if entry.source %}
        {% autoescape off %}{{ entry.title }}{% endautoescape %}
    {% else %}
        {{ entry.title }}
    {% endif %}
{% endspaceless %}</a></h2>{% endif %}{% endblock %}
{% block media %}{% endblock %}
{% block activity %}{% endblock %}
{% block content %}
{% if entry.content %}
    {% if entry.source %}
        {% autoescape off %}{% filter sanitizetags %}
            {% include "assets/bits/content.html" %}
        {% endfilter %}{% endautoescape %}
    {% else %}
        {% include "assets/bits/content.html" %}
    {% endif %}
{% endif %}
{% endblock %}
