{% extends "assets/body/base.html" %}

{% block title %}{% endblock %}

{% block media %}
<div>
    <a href="{{ entry.get_absolute_url }}">
    {% with entry.links.rel__enclosure.width__460 as thumbnail %}
        <img width="{{ thumbnail.width }}" height="{{ thumbnail.height }}" src="{{ thumbnail.href }}" alt="{{ entry.content }}" />
        {% ifnotequal entry.link thumbnail.href %}
        <br /><small><a href="{{ entry.link }}">original</a></small>
        {% endifnotequal %}
    {% endwith %}
    </a>
</div>
{% endblock %}
