{% if elsewhere %}
<div id="elsewhere" class="widget-elsewhere widget pkg">
    <h3 class="design-highlight-color">Elsewhere</h3>
    <div class="widget-content">
        <ul class="action-listing">
            {% for account in elsewhere %}
            <li class="icon-service-{{ account.provider_name }}">
                <a href="{{ account.url }}">{{ account.username }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="more">
            <img src="{{ MEDIA_URL }}images/services/typepad.png" height="16" width="16" alt="TypePad" /> <a href="{{ member.typepad_url }}">View {{ member.display_name }}'s full TypePad profile.</a>
        </div>
    </div>
</div>
{% endif %}
