{% load i18n %}
<div class="widget widget-members">
    <h3 class="design-highlight-color">
        {% blocktrans count memberships.total_results as count %}
            {{ count }} Member
        {% plural %}
            {{ count }} Members
        {% endblocktrans %}
    </h3>
    <div class="widget-content members">
        <ul>
        {% for membership in memberships %}
            {% with membership.source as member %}
                {% include "bits/list_member.html" %}
            {% endwith %}
        {% endfor %}
        </ul>
        <div class="more"><a href="{% url members %}">{% trans "view all" %}</a></div>
    </div><!-- end .widget-content -->
</div><!-- end .widget-members -->
