{% extends "base.html" %}
{% load i18n %}

{% block page_id %}group-events{% endblock %}
{% block head_title %}{% blocktrans with block.super as super %}{{ super }}: Recent Activity{% endblocktrans %}{% endblock %}

{% block feed %}
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{% url feeds url="events" %}" />
{% endblock %}

{% block beta_widgets %}
    {% include "widgets/members.html" %}
    {# include "widgets/popular_entries.html" #}
    {# include "widgets/gallery.html" #}
{% endblock %}

{% block content_head %}
    {% if settings.allow_posting and user.is_authenticated %}
    <div id="user-compose-friends" class="design-compose-background pkg">
        <div id="user-compose-friends-inner" class="pkg">
            {% include "bits/compose_form.html" %}
            {% include "bits/friends.html" %}
        </div><!-- end #user-compose-friends-inner -->
    </div><!-- end #user-compose-friends -->
    {% endif %}
{% endblock %}

{% block content_body %}
    {% if settings.use_dwim %}
    <div class="actions" id="compose-preview" style="display:none">
        <h3>{% trans "Post Preview" %}</h3>
        <ul>
            <li id="compose-preview-inner" class="asset action-asset hentry"></li>
        </ul>
    </div><!-- end .actions#compose-preview -->
    {% endif %}

    <div class="actions">
        {% with page_obj.object_list as events %}
        {% include "bits/event_list.html" %}
        {% endwith %}
    </div><!-- end .actions -->
{% endblock %}
