{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% blocktrans with block.super as super and member.display_name as name %}{{ super }}: {{ name }}'s Profile{% endblocktrans %}{% endblock %}
{% block page_id %}user-profile{% endblock %}

{% block feed %}
    <link rel="alternate" type="application/atom+xml" title="{% blocktrans with member.display_name as name %}Recent Entries from {{ name }}{% endblocktrans %}" href="{{ member.feed_url }}" />
{% endblock %}

{% block beta_widgets %}
    {% include "widgets/typepad_frame.html" %}
    {% include "widgets/elsewhere.html" %}
{% endblock %}

{% block content_body %}
    <div class="profile-header">
        <div class="userpic">
            {% with member.links.rel__avatar.width__100 as userpic %}
            <img src="{{ userpic.href }}" width="100" height="100" alt="{{ member.display_name }}" />
            {% endwith %}
        </div>

        <div class="profile-header-content">
            <h1>{{ member.display_name }}</h1>

            {% if member.about_me %}
            <p>
                <strong>{% trans "About Me:" %}</strong>
                {{ member.about_me }}</em>
            </p>
            {% endif %}

            {% if member.interests %}
            <p>
                <strong>{% trans "Interests:" %}</strong>
                {% for interest in member.interests %}
                {{ interest }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            {% endif %}

            {% if twitter_username %}
            <p class="user-twitter" id="twitter_status"></p>
            {% endif %}

            {% include "bits/profile.html" %}

            {% if is_self %}
            <p><a id="edit-profile-link" href="#">{% trans "Edit Profile" %}</a></p>
            {% endif %}

            <p><a id="view-profile-link" href="{{ member.typepad_url }}">{% blocktrans with member.display_name as name %}View {{ name }}'s full TypePad profile{% endblocktrans %}</a></p>
            
            {% if user.is_superuser %}
            <div class="admin-options">
                <p><strong>Admin options:</strong></p>
                {% if member.email %}
                    <p><a href="mailto:{{ member.email }}">{% blocktrans with member.display_name as name %}Email {{ name }}{% endblocktrans %}</a></p>
                {% endif %}
                <!--p><a href="">{% blocktrans with member.display_name as name %}Ban {{ name }}{% endblocktrans %}</a></p-->
            </div>
            {% endif %}
        </div>
    </div>

    <div class="actions">

    <h2>Recent Activity</h2>

    {% with page_obj.object_list as events %}
    {% include "bits/event_list.html" %}
    {% endwith %}

    </div>

    {# FIXME: make the URL here configurable #}
    {% if twitter_username %}
    <script type="text/javascript" src="http://profile.typepad.com.tpapi-tp.dev.sixapart.com/services/embed/twitter_status.js?u={{ twitter_username|iriencode }}" defer="defer"></script>
    {% endif %}
{% endblock %}
