{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% blocktrans with block.super as super and member.display_name as name %}{{ super }}: {{ name }}&rsquo;s Profile{% endblocktrans %}{% endblock %}
{% block page_id %}user-profile{% endblock %}

{% block feed %}
    <link rel="alternate" type="application/atom+xml" title="{% blocktrans with member.display_name as name %}Recent Entries from {{ name }}{% endblocktrans %}" href="{{ member.feed_url }}" />
{% endblock %}

{% block beta_widgets %}
    {% if user.is_superuser %}
        {% include "widgets/admin.html" %}
    {% endif %}
    {% include "widgets/typepad_frame.html" %}
    {% include "widgets/elsewhere.html" %}
{% endblock %}

{% block content_body %}
    <div class="profile-header">

        {% if not is_member %}
        <div class="msg msg-info">
            {% blocktrans with member.display_name as name %}
            {{ name }} is no longer a member of this site, but their activity is archived.
            {% endblocktrans %}
        </div>
        {% endif %}

        <div class="userpic">
            {% with member.links.rel__avatar.width__100 as userpic %}
            <img src="{{ userpic.href }}" width="100" height="100" alt="{{ member.display_name }}" />
            {% endwith %}
        </div>

        <div class="profile-header-content">
            <h1>{{ member.display_name }}</h1>

            <ul class="profile-data">

            {% if member.about_me %}
            <li><strong>{% trans "About Me:" %}</strong> {{ member.about_me }}</em></li>
            {% endif %}
            
            {% if member.location %}
            <li><strong>{% trans "Location:" %}</strong> {{ member.location }}</em></li>
            {% endif %}
            
            {% if member.homepage %}
            <li><strong>{% trans "Homepage:" %}</strong> <a href="{{ member.homepage }}">{{ member.homepage }}</a></em></li>
            {% endif %}

            {% if member.interests %}
            <li><strong>{% trans "Interests:" %}</strong>
                {% for interest in member.interests %}
                {{ interest }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </li>
            {% endif %}

            {% if twitter_username %}
            <li class="user-twitter" id="twitter_status"></li>
            {% endif %}

            <li><img src="{{ settings.media_url }}images/services/typepad.png" height="16" width="16" alt="TypePad" />&nbsp;
                <a href="{{ member.typepad_url }}" rel="me" target="_blank">{% if is_self %}{% trans "Edit my TypePad profile" %}{% else %}{% trans "View full TypePad profile" %}{% endif %}</a>
            </li>

            </ul>
        </div>
    </div>
    
    {% include "bits/profile.html" %}

    <div class="actions">
        <h2>Recent Activity</h2>
        {% with page_obj.object_list as events %}
        {% include "bits/event_list.html" %}
        {% endwith %}
    </div>

    {% if twitter_username %}
    <script type="text/javascript" src="http://profile.typepad.com/services/embed/twitter_status.js?u={{ twitter_username|iriencode }}" defer="defer"></script>
    {% endif %}
{% endblock %}
