{% extends "base.html" %}
{% load i18n %}

{% comment %}
Template used for displaying the member directory for the group.
{% endcomment %}

{% block head_title %}{% blocktrans with block.super as super %}{{ super }}: Members{% endblocktrans %}{% endblock %}
{% block page_id %}members-list{% endblock %}
{% block page_layout %}{% endblock %}

{% block content_body %}
    
    {% if request.user.is_superuser %}
    <div style="float: right;"><a href="{% url export_members %}">{% trans "Export Member List" %}</a></div>
    {% endif %}

    <h1 id="page-title">
    {% if rel %}
        {% ifequal rel "following" %}
            {% ifequal page_obj.paginator.count 1 %}
            {% blocktrans with member.display_name as name and page_obj.paginator.count as total %}{{ name }} follows {{ total }} person.{% endblocktrans %}
            {% else %}
            {% blocktrans with member.display_name as name and page_obj.paginator.count as total %}{{ name }} follows {{ total }} people.{% endblocktrans %}
            {% endifequal %}
        {% else %}
            {% blocktrans with member.display_name as name and page_obj.paginator.count as total and page_obj.paginator.count|pluralize as pluralize %}
            {{ name }}'s {{ total }} Follower{{ pluralize }}
            {% endblocktrans %}</h1>
        {% endifequal %}
    {% else %}
        {% blocktrans with page_obj.paginator.count as total and page_obj.paginator.count|pluralize as pluralize %}{{ total }} Member{{ pluralize }}{% endblocktrans %}
        <span class="range">{% blocktrans with page_obj.paginator.offset as offset and page_obj.end_index as end_index %}Showing {{ offset }}-{{ end_index }}{% endblocktrans %}</span>
    {% endif %}
    </h1>

    {% if page_obj.has_previous %}
    {% include "bits/pagination.html" %}
    {% endif %}

    <ul class="member-list">
        {% for membership in page_obj.object_list %}
        {% with membership.target as member %}
        <li class="member-listitem {% cycle '' 'even' %}">
            <div class="userpic">
                {% with member as user %}
                    {% include "assets/bits/userpic.html" %}
                {% endwith %}
            </div>
            <div class="member-info">
                <h4><a href="{{ member.get_absolute_url }}" class="name">{{ member.display_name }}</a></h4>
            </div>
        </li>
        {% endwith %}
        {% endfor %}
    </ul>

    {% include "bits/pagination.html" %}

{% endblock %}
