{% extends "base.html" %}

{% block head_title %}{{ block.super }}: {{ member.display_name }}'s Profile{% endblock %}
{% block page_id %}user-profile{% endblock %}

{% block feed %}
    <link rel="alternate" type="application/atom+xml" title="Recent Entries from {{ member.display_name }}" href="{{ member.feed_url }}" />
{% endblock %}

{% block beta_widgets %}
    {% include "widgets/typepad_frame.html" %}
    {% include "widgets/elsewhere.html" %}
{% endblock %}

{% block content_body %}
    <div class="profile-header">
        <div class="userpic">
            {% with member.links.rel__avatar.width__100 as userpic %}
            <img src="{{ userpic.href }}" width="100" height="100" alt="{{ member.display_name }}" />
            {% endwith %}
        </div>

        <div class="profile-header-content">
            <h1>{{ member.display_name }}</h1>

            {% if member.about_me %}
            <p>
                <strong>About Me:</strong>
                {{ member.about_me }}</em>
            </p>
            {% endif %}

            {% if member.interests %}
            <p>
                <strong>Interests:</strong>
                {% for interest in member.interests %}
                {{ interest }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            {% endif %}

            {% if twitter_username %}
            <p class="user-twitter" id="twitter_status"></p>
            {% endif %}

            {% include "bits/profile.html" %}

            {% if is_self %}
            <p><a id="edit-profile-link" href="#">Edit Profile</a></p>
            {% endif %}

            <p><a id="view-profile-link" href="{{ member.typepad_url }}">View {{ member.display_name }}'s full TypePad profile</a></p>
            
            {% if member.email and request.user.is_superuser %}
            <p><a href="mailto:{{ member.email }}">Email {{ member.display_name }}</a></p>
            {% endif %}
        </div>
    </div>

    <div class="actions">

    <h2>Recent Activity</h2>

    {% with page_obj.object_list as events %}
    {% include "bits/event_list.html" %}
    {% endwith %}

    </div>

    {# FIXME: make the URL here configurable #}
    {% if twitter_username %}
    <script type="text/javascript" src="http://profile.typepad.com.tpapi-tp.dev.sixapart.com/services/embed/twitter_status.js?u={{ twitter_username|iriencode }}" defer="defer"></script>
    {% endif %}
{% endblock %}
